body {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h3 {
  line-height: 21px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  outline: 3px solid green;
}

.main-navigation ul {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;

  outline: 3px solid red;
  min-height: 55px;
}

.main-navigation li {
  width: 20%;
  margin: 0;

  outline: 3px solid yellow;
}

.main-navigation li:nth-child(3) {
  position: relative;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.content-header {
  height: 510px;
  box-sizing: border-box;
  padding-top: 75px;

  outline: 3px solid red;
}

.heading {
  width: 458px;
  height: 352px;
  margin: 0 auto;

  outline: 3px solid yellow;
  background-color: gold;
}
