body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h3 {
  line-height: 21px;
}
