* {
margin: 0;
border: 0;
padding: 0;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/* иконочный шрифт */

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


/* общие стили */

h2,
h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h3 {
  line-height: 21px;
}

img {
  margin-bottom: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: rgba(0, 1, 1, 0.2) 0 0 15px 5px;
}

/* шапка */

.main-header {
  line-height: 25px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.main-navigation ul {
 display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: auto;
  margin: 0;
  padding: 0 6%;
  list-style-type: none;
}

.main-navigation li {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.main-navigation li:nth-child(2) {
  margin-left: 30px;
  margin-right: auto;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 31px;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

/* заголовок главной */

.content-header {
  position: relative;
  z-index: 1;

  height: 510px;
  box-sizing: border-box;
  padding-top: 75px;
  background: #386f98
    url("../img/background-photo.jpg") no-repeat 0 -55px;
}

.content-header::after {
  content: "";
  position: absolute;
  left:0;
  bottom: 0;
  z-index: 20;

  width: 1200px;
  height: 57px;

  background: url("../img/background-mask.png") no-repeat;
}

.heading {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.heading img {
  width: 458px;
  height: 352px;
}

/* блок преимуществ */

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-header {
  padding: 0px 312px;

  text-align: center;
}

.features-header h2 {
  margin-top: 60px;
  margin-bottom: 26px;
}

.features-header p {
  margin-bottom: 50px;

  line-height: 26px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.illustration {
  width: 800px;

  background-size: cover;
  background-position: center 53%;
}

.col {
  width: 400px;
  box-sizing: border-box;

  text-align: center;
}

.feature-1,
.feature-2 {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-1 h3,
.feature-2 h3 {
  margin-top: 55px;
  margin-bottom: 25px;
  padding: 0 100px;

  color: #ffffff;
}

.feature-1 p,
.feature-2 p {
  margin: 20px 47px;
}

.feature-1 p:last-child,
.feature-2 p:last-child {
  margin-bottom: 52px;
}

.feature-1 .illustration {
  background-image: url("../img/sedona-town.jpg");
}

.feature-2 .illustration {
  background-image: url("../img/devil-bridge.jpg");
}

.details h3 {
  margin-top: 60px;
  padding-top: 100px;
}

.col-1 h3 {
  background-image: url("../img/habitation-icon.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.col-2 h3 {
  background-image: url("../img/food-icon.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.col-3 h3 {
  margin-top: 56px;
  padding-top: 105px;

  background-image: url("../img/souvenirs-icon.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.details p {
  margin: 25px 55px;
  margin-bottom: 80px;
}

.last-features {
  background-color: #eeeeee;
}

.last-features h3 {
  margin-top: 47px;
  margin-bottom: 25px;
  padding: 0 120px;
}

.last-features p {
  margin: 20px 60px;
}

.last-features p:last-child {
  margin-bottom: 60px;
}

/* блок заголовка поиска гостиниц */

.hotel-search {
  position: relative;

  text-align: center;

  border: 1px solid transparent;
}

.hotel-search p {
  width: 575px;
  margin: 0 auto;
}

.hotel-search .pseudo-heading {
  margin-top: 54px;

  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}

.hotel-search p:last-of-type {
  margin-top: 30px;
  margin-bottom: 47px;

  line-height: 24px;
}

.hotel-search .open-form {
  display: inline-block;
  margin-bottom: 0;
  padding: 30px 140px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #766357;
  cursor: pointer;
}

/* форма поиска гостиниц */

.modal-content {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  display: none;
  width: 460px;
  min-height: 285px;
  padding: 55px;

  font-size: 0;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 7px 0 15px rgba(0, 1, 1, 0.15);
}

.modal-content-show {
  display: block;
}

.hotel-form {
  position: relative;
}

.hotel-form fieldset {
  margin: 0;

  border: none;
}

.hotel-form .half-width {
  float: left;

  width: 50%;
}

.hotel-form .half-width:last-of-type {
  float: right;
}

.hotel-form label,
.hotel-form input,
.hotel-form button {
  font-size: 14px;
  line-height: 38px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;

  background-color: #f2f2f2;
}

.hotel-form label {
  float: left;
  min-width: 100px;
  margin-right: auto;

  background-color: #ffffff;
}

.hotel-form input[type="text"] {
  text-transform: uppercase;
}

/* особые стили для IE */

.hotel-form input[type="text"]::-ms-value {
  height: 38px;
  padding: 0px 10px;

  font-size: 14px;
  line-height: 38px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

input::-ms-clear {
   display: none; /* убирает крестик в поле ввода IE */
}

/* снова общие стили и состояния полей */

.hotel-form .date {
  float: right;
  width: 315px;
  margin-bottom: 30px;
  padding: 0 15px;
}

.hotel-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotel-form input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
}

.number-controls {
  float: right;
}

.hotel-form button {
  cursor: pointer;
}

.hotel-form button:hover {
  color: #000000;
}

.hotel-form button:active {
  color: #81b3d2;
}

.hotel-form button:focus {
  border: none;
  outline: none;
}

.hotel-form .icon-calendar {
  position: absolute;
  top: 100%;
  right: 0px;

  padding: 0 5px;

  font-size: 21px;
  line-height: 38px;
  color: #c2c2c2;
  background-color: transparent;
}

.hotel-form .check-in-date {
  top: 0;
}

.hotel-form .check-out-date {
  top: 67px;
}

.hotel-form .change-number {
  width: 38px;
  height: 38px;
  margin-right: 0;

  color: #a9a9a9;
  text-align: center;
}

.hotel-form .number {
  width: 38px;
  height: 38px;
  margin-right: 0;

  line-height: 38px;
  text-align: center;
}

.hotel-form label[for="children"] {
  min-width: 90px;

  text-align: right;
}

.hotel-form .find-hotel {
  display: block;
  float: left;
  width: 100%;
  margin-top: 54px;
  padding: 10px;

  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.hotel-form .find-hotel:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.hotel-form .find-hotel:active {
  color: #88b6d1;

  background-color: #5496bd;
}

/* карта */

.map {
  height: 593px;

  background: #f2f1ef url("../img/map.jpg") no-repeat;
}

.map-visible {
  height: 476px;
}

/* подвал */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  line-height: 26px;
  color: #000000;

  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer section {
  margin: 35px 0;

  line-height: 47px;
  text-align: center;
}

.footer-hashtag {
  vertical-align: middle;
}

.footer-hashtag p {
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  font-size: 0;
  text-align: center;
}

.footer-social .social-btn {
  display: inline-block;
  width: 46px;
  height: 47px;
  margin-right: 6px;

  text-decoration: none;
  vertical-align: top;
  text-align: center;

  background-color: #81b3d2;
}

.footer-social .social-btn:last-child {
  margin-right: 0;
}

.footer-social .social-btn:hover {
  background-color: #669ec0;
}

.footer-social .social-btn:active {
  background-color: #5496bd;
}

.social-btn span {
  font-size: 19px;
  color: #ffffff;
}

.social-btn:active span {
  color: #88b6d1;
}

.social-btn .icon-youtube {
  font-size: 23px;
}

.footer-copyright {
  vertical-align: middle;
}

.footer-copyright img {
  vertical-align: middle;
}

.footer-copyright a {
  margin-left: 5px;
}

.academy-logo img {
  -webkit-filter: grayscale(1) brightness(0);
          filter: grayscale(1) brightness(0);
}

.academy-logo:hover img {
  -webkit-filter: none;
          filter: none;
}

.academy-logo:active img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* внутренняя страница */

.inner-page .wrapper {
  background-color: #fefefe;
}

.container {
  margin: 0 6%;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #d6d0cc;
}

/* фильтр гостиниц */

.hotel-filter {
  padding-top: 27px;
  padding-bottom: 30px;
  color: #ffffff;

  background-color: #6c99c0;
  background-image:  url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hotel-filter fieldset {
  border: none;
}

.hotel-filter legend,
.hotel-filter label {
  display: block;
}

.hotel-details,
.hotel-type {
  float: left;
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 16px;

}

.hotel-price {
  float: right;
  width: 328px;
  padding: 0;
}

.hotel-filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.hotel-details label,
.hotel-type label {
  position: relative;

  margin-bottom: 25px;
  padding-left: 40px;

  cursor: pointer;
}

.hotel-details label:last-child,
.hotel-type label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

 input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  font-size: 26px;
  font-family: symbols-sedona;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="checkbox"] + label:hover::before {
  color: #fefefe;
}

input[type="checkbox"]:disabled + label,
input[type="checkbox"].disabled + label {
  cursor: auto;
}

input[type="checkbox"]:disabled:checked + label,
input[type="checkbox"].disabled:checked + label {
  cursor: auto;
}

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"].disabled + label::before {
  color: #6a6a6a;

  cursor: auto;
}

input[type="checkbox"]:disabled:checked + label::before,
input[type="checkbox"].disabled:checked + label::before {
  color: #6a6a6a;

  cursor: auto;
}

/* фильтр цены */

.hotel-price legend {
  margin-bottom: 10px;
  padding-left: 3px;
}

.price-controls {
  position: relative;

  width: auto;
  height: 32px;
  margin-left: 10px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  width: 80px;
  padding-left: 67px;

  font-size: 14px;
  line-height: 35px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls input {
  width: 50px;
  height: 35px; /* для IE */
  margin: 0;

  color: inherit;
  font: inherit;
  line-height: 35px;

  background: none;
  border: none;
  outline: none;
}

.price-controls input:focus {
  line-height: 35px;
}

/* ползунки */

.range-controls {
  position: relative;

  margin-left: 10px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/* кнопка фильтра */

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* сортировка */

.hotel-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 32px 6%;
  padding-bottom: 20px;

  color: #000000;

  border-bottom: 1px solid #e5e5e5;
}

.hotels-number {
  -ms-flex-preferred-size: 135px;
      flex-basis: 135px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;

  margin-right: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;

  list-style-type: none;
}

.hotel-sort li {
  font-size: 12px;
  line-height: 26px;
}

.hotel-sort a {
  color: #b1b1b1;
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.hotel-sort a:hover {
  color: #81b3d2;
}

.hotel-sort a:active {
  color: #000000;

  border: none;
}

.hotel-sort a.current {
  color: #81b3d2;

  border-bottom: none;
  cursor: default;
}

.hotels-number {
  -ms-flex-preferred-size: 135px;
      flex-basis: 135px;
}

.sorting-type,
.hotel-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sorting-type li {
  margin-right: 32px;
  padding: 0;
  }

.sorting-type li:first-child {
  margin-right: 40px;
  }

.sorting-direction,
.hotel-quality {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
  margin-left: auto;

  text-align: right;
}

.sorting-direction li {
  padding: 0;
}

.sorting-direction li:first-child {
  margin-left: auto;
}

.sorting-direction a {
  font-size: 0;

  border: none;
}

.sorting-direction span {
  font-size: 23px;
  line-height: 23px;
  color: #cccccc;
}

.sorting-direction span::before {
  margin: 0;
  padding: 0;

  text-align: right;
}

.sorting-direction span:hover {
  color: #000000;
}

.sorting-direction span:active {
  color: #81b3d2;
}

.sorting-direction .current {
  color: #81b3d2;

  cursor: default;
}

.sorting-direction .current:hover {
  color: #81b3d2;
}

/* карточки гостиниц */

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 1px solid #e5e5e5;
}

.hotel section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
  padding-top: 5px;
}

.hotel-photo img {
  width: 100%;
  height: auto;
}

.hotel-info {
  padding: 0;
}

.hotel-info h2 {
  margin: 0;
  padding: 0;

  line-height: 26px;
}

.hotel-info .hotel-name {
  margin: 0;
  padding: 0;

  color: #000000;
  text-decoration: none;
}

.hotel-info .hotel-name:hover {
  color: #81b3d2;
}

.hotel-info .hotel-name:active {
  color: #b2b2b2;
}

.hotel-info div {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.hotel-info-main span,
.hotel-buttons a {
  display: inline-block;
  margin-right: 6px;

  font-size: 14px;
  line-height: 21px;
}

.hotel-info-type {
  min-width: 110px;
}

.hotel-buttons a {
  padding: 2px 17px;

  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
}

.hotel-page {
  background-color: #81b3d2;
}

.hotel-page:hover {
  background-color: #669ec0;
}

.hotel-page:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.hotel-booking {
  background-color: #766357;
}

.hotel-booking:hover {
  background-color: #604e43;
}

.hotel-booking:active {
  color: #857871;

  background-color: #503e33;
}

.hotel-quality {
  -webkit-box-align: end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}

.hotel-stars {
  padding: 0;

  font-size: 0;
}

.hotel-stars .icon-star::before {
  margin: 0;
  margin-left: 5px;
  padding: 3px 0;

  text-align: center;

  font-size: 18px;
  line-height: 21px;
  color: #81b3d2;
}

.hotel-rating {
  padding: 3px 12px;

  color: #666666;

  background-color: #f2f2f2;
}
